!!! 5
html
  head
    title MongoViewer
  body
    header
      span#title MongoViewer
    
    #content!= body

  script(src="/javascripts/jquery.js")
  script(src="nowjs/now.js")
  script(src="/javascripts/imtg.js")
