!!! 5
html
  head
    title MongoViewer
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      span#title MongoViewer
      span#history History:
    
    #content!= body

  script(src="/javascripts/jquery.js")
  script(src="nowjs/now.js")
  script(src="/javascripts/imtg.js")
