body {
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  font-weight:bold;
  padding:3px;
  background-color:#000;
  color:#fff;
  display:block;
}

#history {
    float:right;
}

.historyText {
    color:white;
    padding:0 5px;
}